.container {
  width: 100vw;
  height: 100vh;
  background: url("../resource/imgs/bgfront.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* content  */

.flexContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 85%;
  margin-left: 60px;
}

.hand {
  /* position: relative; */
  width: 543px;
  /* top: -40px;
  left: -90px; */
}

.title {
  font-family: "Gill Sans MT";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  text-align: left;
  color: #fbfbf2;
}

.info {
  font-weight: normal;
  font-size: 16px;
  text-align: left;
  color: #fbfbf2;
}

.firstColumn {
  margin-right: 120px;
  /* position: relative;
  top: -20px;
  left: -20px; */
}
